
:root {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    width: 100%;;
    height: auto;
}
@font-face {
    font-family: Font1;
    src: url("fonts/Bebas-Regular.otf");
}
@font-face {
    font-family: Font2;
    src: url("fonts/Louis\ George\ Cafe.ttf");
}
@font-face {
    font-family: Font3;
    src: url("fonts/Louis\ George\ Cafe\ Bold.ttf");
}
@font-face {
    font-family: Font4;
    src: url("fonts/New\ Athletic\ M54.ttf");
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #252934; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

#section {
    width: 100%;
    height: 100vh;
    opacity: 1;
    position: relative;
    transition: 800ms all;
    z-index: 5;
}


#header {
    opacity: 0;
    transition: 1400ms all;
}

.nav {
   margin-right: 10px;
   transition: 700ms all ease-out;
   margin-top: 7px;
}
.nav a {
    color: #fff;
    padding: 10px 7px;
    opacity: .8;
    font-family: Font3;
    /* border: 1px solid green; */
    margin-right: 5px;
    font-size: 1em;
    text-decoration: none;
    transition: .6s border-bottom ease;
    font-weight: bold;
}
.atr {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.nav a:hover {
    opacity: .9;
    color: #fff;
    border-bottom: 1px solid rgb(160, 160, 160);
}
.logo {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 2em;
    font-family: Font4;
    font-weight: bold;
    opacity: .9;
}

.container-fluid {
    display: flex;
}


.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
}


.logo:hover {
     color: #ffe484;
}

.follow_me {
    margin-top: 18px;
    display: block;
}



.menuLogo {
    display: none;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.menuLogo span {
    display: block;
    position: absolute;
    width: 30px;
    transition: 500ms all ease-in;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
}

.menuLogo span:nth-child(1) {
    top: 8px;
}

.menuLogo span:nth-child(2) {
    top: 16px;
}

.menuLogo span:nth-child(3) {
    top: 24px;
}



#section .container {
    margin-top: 12%;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    transition: 1500ms all;
    opacity: 0;
    background-color: rgba(204, 204, 204, 0.123);
}

.contact {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPhoto {
    width: 95px;
    height: 80px;
    position: static;
    margin-bottom: 7px;
    
}

.colOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.colTwo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-text, .wrapper-2 h2 {
    color: #fff;
    opacity: .8;
    margin-bottom: 3px;
    font-family: Font2;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.contact-text p {
    color: #ccc;
    font-weight: 500;
    font-family: Font1;
    letter-spacing: 1px;
}
.text {
    width: 400px;
    text-align: center;
}
.text span{
    color: rgb(245, 240, 168);
    opacity: .9;
    font-size: 1.2em;
    font-family: Font2;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.text p {
    opacity: .9;
    font-size: 1.2em;
    font-family: Font2;
    color: #ccc;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.social-media a {
    margin-right: 5px;
}

.social-media a:hover i {
    color: #fada66;
}
.social-media i {
    font-size: 1.4em;
    color: #ccc;
}

#autoTxt {
    opacity: .8;
    font-size: 1.2em;
    font-family: Font2;
    color: rgb(245, 240, 168);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

/* section 2 */

#section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 5;
}
.wrapper-2 {
    /* position: absolute;
    max-width: 1320px;
    max-width: 800px;
    width: 799px; */
    transition: 1500ms all;
    opacity: 0;
    color: #fff !important;
}

.my-about {
    text-align: center;
}

.image-card {
    border-right: 1px solid rgba(0, 128, 0, 0.555);
    margin-right:20px;
    padding-right: 45px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.myProfileImage {
    width: 150px;
    height: 130px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .colOne {
        /* order: 1; */
        margin-right: 0;
        margin-bottom: 15px;
    }
    .image-card {
        border: none;
        padding: 0;
        margin: 0;
    }

    .myProfileImage {
        width: 140px;
        height: 120px;
    }
    .text p {
        font-size: 1.1em;
    }
    .text span {
        font-size: 1.1em;
    }
}


@media (max-width: 405px) {
    .text {
        width: 300px;
    }

    .myProfileImage {
        width: 120px;
        height: 100px;
    }

    .text p {
        font-size: 1em;
    }
    .text span {
        font-size: 1em;
    }
}